body {
    font-family: 'Roboto'; 
    font-size: 18px;
    color: #e5e7eb;
    
}

img {
    border-radius: 4px;
    padding: 5px;
    width: 300px;
    height: 150px;
    border: 1px solid white;
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    font-family: 'Roboto';
    font-weight: bold;
    padding-inline: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0px;
    border-radius: 4px;
}

.header {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 0px;
    border: 0px 20px;
}

.logo {
    font-size: 24px;
    text-align: left;
    margin-left: 100px;
}

.links {
    display: flex;
    margin-right: 100px;
}

.links ul{
    display: flex;
    gap:30px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

.bio {
    background-color: #1F2937;
    color:#F9FAF8;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items:center;
    margin: auto;
    padding: 60px;
    border: 0px 20px;
}

.awesome {
    font-size: 48px;
    font-weight:900;
}

.info {
    color: #1F2937;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.info h3 {
    font-size: 36px;
    font-weight: 900;
}
#boxes {
    display: flex;
    justify-content: center;
    gap: 10px;
    /* border: 10px;
    border-color: #3882f6; */
}

.containers img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 10px;
    padding: 0px;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.quote {
    color: black;
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    padding: 20px;
    border: 0px;
    margin 0px;
}

.quote h3 {
    text-align: right;
}
