body {
    font-family: 'Roboto'; 
    
}

.header {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 0px;
    border: 0px 20px;
}

.logo {
    font-size: 15px;
    text-align: left;
    margin-left: 100px;
}

.links {
    display: flex;
    margin-right: 100px;
}

.links ul{
    display: flex;
    gap:30px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}